/* Mise en page du site de MeetSpace */

html {
	background-size: cover;
	background-attachment:fixed;
}

img {
  text-align: center;
}

h1{
	text-align: center;
	min-height: 100px;
	color: black;
}

h3 {
	color: black;
	margin-top: 5%;
	margin-left: 10%;
}

footer p {
	color: black;
}

footer a {
	color: black;
	text-decoration: underline;
}

.navbar-header {
	margin-right: 100px;
}

.lead {
	color: black;
}

.form-control {
	height: 42px;
}
